<div class="w-full">
  <table class="table-zebra table table-compact w-full">
    <thead>
      <tr>
        <th></th>
        <th>User-ID</th>
        <th>Tab Name</th>
        <th>Job Started</th>
        <th>Job Status</th>
        <th>Job Progress</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  </table>
  <div *ngFor="let in of counter(5); let j = index">
    <table class="table-zebra table table-compact w-full">
      <tr>
        <th></th>
        <th>User-ID</th>
        <th>Tab Name</th>
        <th>Job Started</th>
        <th>Job Status</th>
        <th>Job Progress</th>
        <th></th>
        <th>
          <button class="btn" (click)="toggleSubTree(j)">Open</button>
        </th>
      </tr>
    </table>

    <!--SUB TREE-->
    <table
      class="ml-20 bg-slate-400 table-zebra table table-compact w-full h-0"
      [ngClass]="showNested == j ? '' : 'hidden'"
    >
      <tr *ngFor="let in of counter(5); let j = index">
        <th></th>
        <th>User-ID</th>
        <th>Tab Name</th>
        <th>Job Started</th>
        <th>Job Status</th>
        <th>Job Progress</th>
        <th></th>
        <th></th>
      </tr>
    </table>
  </div>
</div>
