<div>
  <form >
    <div class="flex flex-col justify-center my-10 px-5 space-y-3">
      <div class="form-control w-full">
        <label class="label">
          <span class="text-base font-semibold">Serial Number</span>
        </label>
        <input
          type="number"
          placeholder="i.e 123"
          class="input input-bordered w-full"
          v-model.number="receiptForm.srNo"
          required
        />
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="text-base font-semibold">Vehical Number</span>
        </label>
        <input
          type="text"
          placeholder="i.e LED-12-2323"
          class="input input-bordered w-full"
          v-model="receiptForm.vehicalNo"
          required
        />
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="text-base font-semibold">Weight Type</span>
        </label>
        <input
          type="text"
          placeholder="i.e Sugercane"
          class="input input-bordered w-full"
          v-model="receiptForm.weightType"
          required
        />
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="text-base font-semibold">Gross Weight</span>
        </label>

        <label class="input-group w-full">
          <input
            type="number"
            placeholder="i.e 2323"
            class="input input-bordered w-full"
            v-model.number="receiptForm.gweight"
            required
          />
          <span>Kgs</span>
        </label>
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="text-base font-semibold">Tare Weight</span>
        </label>
        <label class="input-group w-full">
          <input
            type="number"
            placeholder="i.e 2323"
            class="input input-bordered w-full"
            v-model.number="receiptForm.tweight"
            required
          />
          <span>Kgs</span>
        </label>
      </div>

      <div class="divider"></div>

      <div class="form-control w-full">
        <label class="label">
          <span class="text-base font-semibold">Net Weight:</span>
          <span class="text-base font-semibold"
            > kgs</span
          >
        </label>
        <label class="label">
          <span class="text-base font-semibold"></span>
          <span class="text-base font-semibold"
            > maunds</span
          >
        </label>
      </div>

      <div class="divider"></div>

      <input class="btn btn-lg gap-2" type="submit" />

      <!-- <button @click="submit" to="/printpreview" class="btn btn-lg gap-2">
            <i class="bx bx-right-arrow-alt bx-sm"></i>
            Continue
        </button>-->
    </div>
  </form>
</div>
