<div *ngIf="isUserAuthenticated" class="flex">

  <div class="w-full h-screen">

    <!-- Header section -->
    <div class="flex items-center justify-between h-50 px-2 shadow-lg bg-base-200">

      <!-- logo section -->
      <div class="dropdown">
        <a class="text-xl font-semibold normal-case mainLogo" [routerLink]="['']">Quick Look Acustics</a>
      </div>

      <!-- top right header area -->
      <div class="gap-1">

        <!-- job status -->
        <div class="dropdown dropdown-end">
          <fa-icon class="items-center btn btn-ghost rounded-btn" tabindex="0" [icon]="jobStatusIcon">
          </fa-icon>
          <div class="dropdown-content">
            <app-job-status-dropdown tabindex="0" class="dropdown-item"></app-job-status-dropdown>
          </div>
        </div>

        <!-- user info -->
        <div class="dropdown dropdown-end">
          <button class="items-center btn btn-ghost rounded-btn">
            <fa-icon class="mr-3" tabindex="0" [icon]="userIcon"></fa-icon>
            {{ userName }}
          </button>
        </div>

        <!-- global actions -->
        <div class="dropdown dropdown-end">
          <fa-icon class="btn btn-ghost rounded-btn" tabindex="0" [icon]="optionsIcon">
          </fa-icon>
          <div tabindex="0" class="dropdown-content p-1 shadow bg-base-200 rounded-box w-60">
            <button class="btn btn-sm btn-ghost w-full" (click)="SaveConfig()">
              <fa-icon class="mr-2" [icon]="saveConfigIcon"></fa-icon>
              Save Configurations
            </button>

            <input #file type="file" accept="txt/*" (change)="ImportFile($event)" hidden />
            <button class="btn btn-sm btn-ghost w-full text-left" (click)="file.click()">
              <fa-icon class="mr-2" [icon]="loadConfigIcon"></fa-icon>
              Load Configurations
            </button>

            <button class="btn btn-sm btn-ghost w-full" (click)="resetConfig()">
              <fa-icon class="mr-2" [icon]="resetSelection"></fa-icon>
              Reset current selection
            </button>
          </div>
        </div>

      </div>
    </div>

    <!-- router outlet for main sections -->
    <div class="h-full">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>

  </div>

</div>

<!-- OAuth unauthenticated modal -->
<app-not-authenticated
  *ngIf="!isUserAuthenticated"
  [IsAuthenticated]="isUserAuthenticated"
></app-not-authenticated>

<button #hiddenBtn class="hidden"></button>
