<!-- NAVIGATION BREADCRUMBS -->

<!-- <div class="text-sm p-4 breadcrumbs">
  <ul>
    <li><a>Home</a></li>
    <li><a>Documents</a></li>
    <li>Add Document</li>
  </ul>
</div> -->

<!-- NAVIGATION BREADCRUMBS -->

<!-- BUTTON ON TOP -->

<!-- <div
  class="flex p-2 flex-wrap flex-col space-y-2 lg:flex-row lg:space-y-0 justify-between"
>
  <div class="space-x-3">
    <button class="btn btn-primary btn-xs" (click)="SaveConfig()">
      <fa-icon class="mr-2" [icon]="saveConfigIcon"></fa-icon>Save
      Configurations
    </button>
    <input
      #file
      type="file"
      accept="txt/*"
      (change)="ImportFile($event)"
      hidden
    />
    <button #ConfigFile class="btn btn-primary btn-xs" (click)="file.click()">
      <fa-icon class="mr-2" [icon]="loadConfigIcon"></fa-icon>Load
      Configurations
    </button>
    <button
      class="btn btn-primary btn-xs"
      [disabled]="isUserAuthenticated"
      (click)="doLogin()"
    >
      <fa-icon class="mr-2" [icon]="loadConfigIcon"></fa-icon>Start
    </button>
  </div>
  <div class="space-x-3">
    <a class="btn btn-primary btn-xs" routerLink="/jobStatus">
      <fa-icon class="mr-2" [icon]="jobStatusIcon"></fa-icon>Job Status
    </a>
    <button class="btn btn-primary btn-xs" (click)="resetConfig()">
      <fa-icon [icon]="resetSelection" class="mr-2"></fa-icon>Reset Current
      Selections
    </button>
  </div>
</div> -->

<!-- BUTTON ON TOP -->

<!--CHANNELS LIST-->

<div class="flex relative">
  <div class="w-auto pt-10 px-1 bg-zinc-800 flex flex-col">
    <div
      *ngFor="let chData of channelsData"
      (click)="this.selectedCh = chData.tabName"
      [ngClass]="
        chData.tabName == selectedCh ? 'shadow-xl rounded border-primary' : ''
      "
      class="mb-2"
    >
      <div class="flex justify-between rounded-t text-center">
        <button
          class="w-full rounded-tl px-1 btn-primary"
          [ngClass]="
            chData.tabName == selectedCh
              ? 'bg-primary'
              : 'btn-disabled bg-base-300 text-gray-600 rounded-bl'
          "
        >
          {{ chData.tabName }}
        </button>
        <div class="dropdown">
          <button
            tabindex="0"
            class="btn-primary btn-xs rounded-tr h-full float-right p-1"
            [disabled]="chData.tabName != selectedCh"
            [ngClass]="
              chData.tabName == selectedCh
                ? 'btn-primary'
                : 'btn-disabled bg-base-300 text-gray-600 rounded-br'
            "
          >
            <fa-icon [icon]="optionsIcon"></fa-icon>
          </button>
          <ul
            tabindex="0"
            class="dropdown-content p-1 shadow bg-base-200 m-4 rounded-box w-40"
          >
            <li
              class="text-left btn-xs btn-ghost rounded"
              (click)="SaveSelectedConfig()"
            >
              <a>
                <fa-icon class="mr-2" [icon]="saveConfigIcon"></fa-icon>Save
                Configurations</a
              >
            </li>
            <input
              #file
              type="file"
              accept="txt/*"
              (change)="LoadSelectedConfig($event)"
              hidden
            />
            <li
              class="text-left btn-xs btn-ghost rounded"
              (click)="file.click()"
            >
              <a>
                <fa-icon class="mr-2" [icon]="loadConfigIcon"></fa-icon>Load
                Configurations</a
              >
            </li>
            <li
              class="text-left btn-xs btn-ghost rounded"
              (click)="ResetSelectedConfig()"
            >
              <a>
                <fa-icon class="mr-2" [icon]="resetSelection"></fa-icon>Reset
                selections</a
              >
            </li>
          </ul>
        </div>
      </div>
      <button
        class="btn btn-xs rounded-b btn-success w-full"
        [ngClass]="chData.tabName != selectedCh ? 'hidden' : ''"
        (click)="startJob(chData.tabName)"
      >
        Start
      </button>
    </div>
    <!-- <ul class="bg-base-300 h-full">
      <li
        *ngFor="let chData of channelsData"
        [ngClass]="
          chData.tabName == selectedCh
            ? 'border-l-8 rounded-l  bg-base-200  border-primary-focus'
            : ''
        "
        (click)="this.selectedCh = chData.tabName"
        class="text-centerh-10"
      >
        <span class="justify-center p-1 font-semibold">{{
          chData.tabName
        }}</span>
      </li>
    </ul> -->
  </div>

  <!--CHANNELS LIST-->

  <div
    *ngFor="let chData of channelsData"
    [ngClass]="chData.tabName == selectedCh ? 'block' : 'hidden'"
    class="col-span-10 lg:col-span-11"
  >
    <!-- MAIN SECTION VIEW -->
    <div
      *ngFor="let mSection of chData.mainSections"
      class="flex flex-col bg-zinc-100"
    >
      <div class="w-full relative">
        <h1 class="w-full font-semibold text-center bg-base-300 shadow-lg p-1">
          {{ mSection.name }}
        </h1>
      </div>

      <!-- SINGLE MEASUREMENTS / COMPARE POSITIONS (META_INFO AT MAIN SECTION LEVEL )-->
      <div class="relative flex">
        <div *ngIf="mSection.__metaInfo" class="flex border-r border-base-300">
          <div class="w-full">
            <div
              *ngFor="let dataTypes of mSection.dataTypes"
              class="grid grid-cols-12 bg-zinc-100 shadow border-b border-base-300"
            >
              <!-- Data Type -->

              <div class="col-span-12 pl-1 flex space-x-4 items-center">
                <div class="flex items-center">
                  <input
                    type="checkbox"
                    class="toggle toggle-xs"
                    [(ngModel)]="dataTypes.selected"
                  />
                  <p class="font-semibold px-1">{{ dataTypes.name }}</p>
                </div>
                <div
                  *ngIf="dataTypes.selected == true"
                  class="flex items-center bg-base-300"
                >
                  <input
                    type="checkbox"
                    class="toggle toggle-xs"
                    (change)="selectAllToggle($event, dataTypes.name)"
                  />
                  <p class="text-sm px-1">Select All</p>
                </div>
              </div>
              <div
                class="col-span-12 transition-all duration-1000"
                [ngClass]="
                  dataTypes.selected
                    ? ''
                    : 'h-0 overflow-hidden transition-all duration-700'
                "
              >
                <div class="grid grid-cols-12">
                  <!-- Data Section -->
                  <div
                    *ngFor="let dataSection of dataTypes.dataSections"
                    class="col-span-12 md:col-span-4 lg:col-span-3 xl:col-span-2 m-1"
                  >
                    <p
                      *ngIf="dataSection.name"
                      class="text-xs font-semibold p-1 border-b bg-base-100"
                    >
                      {{ dataSection.name }}:
                      <!--GROUP NAME-->
                    </p>
                    <!-- Pages  -->
                    <div
                      *ngFor="let page of dataSection.pages; let idx = index"
                      class="flex flex-wrap items-center p-1 space-x-1 space-y-1 bg-base-100"
                      [ngClass]="
                        dataSection.pages.length > 1 ? 'border-b' : 'border'
                      "
                    >
                      <!-- <div class="w-full flex items-center p-1 space-x-2"> -->
                      <div class="w-full flex">
                        <span class="label-text text-xs ml-1 w-full">{{
                          page.name
                        }}</span>
                        <input
                          type="checkbox"
                          checked="checked"
                          class="toggle toggle-xs float-right"
                          [(ngModel)]="dataSection.pages[idx].selected"
                        />
                      </div>
                      <!-- <span class="label-text text-xs w-full">{{
                        page.name
                      }}</span> -->

                      <!-- </div>
                      <div class="w-full flex items-center pl-5 py-1 space-x-2"> -->

                      <input
                        *ngIf="page.isScaled"
                        type="number"
                        placeholder="From"
                        class="input input-bordered input-xs w-2/5"
                        [(ngModel)]="dataSection.pages[idx].scaledFrom"
                        [disabled]="!page.selected"
                      />
                      <input
                        *ngIf="page.isScaled"
                        type="number"
                        placeholder="to"
                        class="input input-bordered input-xs w-2/5"
                        [(ngModel)]="dataSection.pages[idx].scaledTo"
                        [disabled]="!page.selected"
                      />

                      <label
                        for="my-modal"
                        class="btn btn-xs tooltip tooltip-primary"
                        *ngIf="page.channelSelection"
                        [attr.data-tip]="
                          dataSection.pages[idx].channelSelectionText
                        "
                        [ngClass]="
                          !page.selected ? 'btn-disabled' : 'btn-primary'
                        "
                        (click)="openChannelModal(page.name)"
                        ><fa-icon
                          [icon]="SelectedChannelIcon"
                          size="lg"
                        ></fa-icon
                      ></label>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="w-auto h-full border-l border-base-300 transition-all duration-700 hover:absolute hover:shadow-md right-0"
            (mouseover)="metaInfoHovered = mSection.name"
            (mouseout)="metaInfoHovered = ''"
          >
            <div
              class="flex flex-col bg-zinc-100 h-full transition-all duration-700 p-1"
            >
              <button
                *ngFor="let mInfo of mSection.__metaInfo"
                (click)="openMeasurementTree(mInfo.contentCollectionName)"
                class="btn btn-primary w-max-16 h-auto btn-xs transition-all duration-700"
              >
                <span *ngIf="metaInfoHovered == mSection.name" class="">{{
                  mInfo.browseButtonName
                }}</span>
                <span *ngIf="metaInfoHovered != mSection.name" class="">
                  <fa-icon class="mr-2" [icon]="measurementsIcon"></fa-icon
                ></span>

                <div
                  *ngIf="
                    mInfo.selectedMeasurements &&
                    mInfo.selectedMeasurements.length == 0
                  "
                  class="badge badge-primary"
                >
                  ({{ mInfo.selectedMeasurements.length }})
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- END -->
      <!-- SINGLE MEASUREMENTS / COMPARE POSITIONS (META_INFO AT MAIN SECTION LEVEL )-->

      <!-- START -->
      <!-- MULTIPLE MEASUREMENTS / COMPARE MEASUREMENTS (META_INFO AT DATATYPES LEVEL )-->
      <div *ngIf="!mSection.__metaInfo" class="relative flex flex-col">
        <div *ngFor="let dataTypes of mSection.dataTypes" class="flex w-full">
          <!-- Data Type -->

          <div
            class="flex w-full flex-wrap bg-zinc-100 shadow lg:border-b border-base-300"
          >
            <!-- Data Type -->

            <div class="w-full pl-1 flex space-x-4 items-center">
              <div class="flex items-center">
                <input
                  type="checkbox"
                  class="toggle toggle-xs"
                  [(ngModel)]="dataTypes.selected"
                />
                <p class="font-semibold px-1">{{ dataTypes.name }}</p>
              </div>
              <div
                *ngIf="dataTypes.selected"
                class="flex items-center bg-base-300"
              >
                <input
                  type="checkbox"
                  class="toggle toggle-xs"
                  (change)="selectAllToggle($event, dataTypes.name)"
                />
                <p class="text-sm px-1">Select All</p>
              </div>
            </div>

            <div class="w-full flex relative">
              <div
                class="grid grid-cols-12 w-full"
                [ngClass]="
                  dataTypes.selected
                    ? ''
                    : 'h-0 overflow-hidden transition-all duration-700'
                "
              >
                <!-- Data Section -->
                <div
                  *ngFor="let dataSection of dataTypes.dataSections"
                  class="col-span-12 md:col-span-4 lg:col-span-3 xl:col-span-2 m-1 border bg-base-100"
                >
                  <p
                    *ngIf="dataSection.name"
                    class="text-xs font-semibold p-1 border-b"
                  >
                    {{ dataSection.name }}:
                    <!--GROUP NAME-->
                  </p>
                  <!-- Pages  -->
                  <div
                    *ngFor="let page of dataSection.pages; let idx = index"
                    class="flex flex-wrap items-center p-1 space-x-1 space-y-1"
                    [ngClass]="dataSection.pages.length > 1 ? 'border-b' : ''"
                  >
                    <!-- <div class="w-full flex items-center p-1 space-x-2"> -->
                    <div class="w-full flex">
                      <span class="label-text text-xs ml-1 w-full">{{
                        page.name
                      }}</span>
                      <input
                        type="checkbox"
                        checked="checked"
                        class="toggle toggle-xs float-right"
                        [(ngModel)]="dataSection.pages[idx].selected"
                      />
                    </div>
                    <!-- <span class="label-text text-xs w-full">{{
                        page.name
                      }}</span> -->

                    <!-- </div>
                      <div class="w-full flex items-center pl-5 py-1 space-x-2"> -->

                    <input
                      *ngIf="page.isScaled"
                      type="number"
                      placeholder="From"
                      class="input input-bordered input-xs w-2/5"
                      [(ngModel)]="dataSection.pages[idx].scaledFrom"
                      [disabled]="!page.selected"
                    />
                    <input
                      *ngIf="page.isScaled"
                      type="number"
                      placeholder="to"
                      class="input input-bordered input-xs w-2/5"
                      [(ngModel)]="dataSection.pages[idx].scaledTo"
                      [disabled]="!page.selected"
                    />

                    <label
                      for="my-modal"
                      class="btn btn-xs tooltip tooltip-primary"
                      *ngIf="page.channelSelection"
                      [attr.data-tip]="
                        dataSection.pages[idx].channelSelectionText
                      "
                      [ngClass]="
                        !page.selected ? 'btn-disabled' : 'btn-primary'
                      "
                      ><fa-icon [icon]="SelectedChannelIcon" size="lg"></fa-icon
                    ></label>
                    <!-- </div> -->
                  </div>
                </div>

                <!-- <div
                  *ngFor="let mInfo of dataTypes.__metaInfo"
                  class="col-span-2 m-1 border bg-base-100"
                >
                  <div
                    class="flex justify-center items-center bg-zinc-100 h-full transition-all duration-700 p-1"
                  >
                    <button
                      (click)="openMeasurementTree(mInfo.contentCollectionName)"
                      class="btn btn-primary my-1 h-auto btn-xs transition-all duration-700"
                    >
                      <span class="">{{ mInfo.browseButtonName }}</span>

                      <div
                        *ngIf="
                          mInfo.selectedMeasurements &&
                          mInfo.selectedMeasurements.length == 0
                        "
                        class="badge badge-primary"
                      >
                        ({{ mInfo.selectedMeasurements.length }})
                      </div>
                    </button>
                  </div>
                </div> -->
              </div>
              <div
                class="w-auto h-full border-l border-t border-base-300 transition-all duration-700 hover:absolute hover:shadow-md right-0"
                (mouseover)="metaInfoHovered = dataTypes.name"
                (mouseout)="metaInfoHovered = ''"
                [ngClass]="dataTypes.selected ? '' : 'hidden'"
              >
                <div
                  class="flex flex-col bg-zinc-100 h-full transition-all duration-700 p-1 space-y-1"
                >
                  <button
                    *ngFor="let mInfo of dataTypes.__metaInfo"
                    (click)="openMeasurementTree(mInfo.contentCollectionName)"
                    class="btn btn-primary w-max-16 h-auto btn-xs transition-all duration-700"
                  >
                    <span *ngIf="metaInfoHovered == dataTypes.name" class="">{{
                      mInfo.browseButtonName
                    }}</span>
                    <span *ngIf="metaInfoHovered != dataTypes.name" class=""
                      >SM</span
                    >

                    <div
                      *ngIf="
                        mInfo.selectedMeasurements &&
                        mInfo.selectedMeasurements.length == 0
                      "
                      class="badge badge-primary"
                    >
                      ({{ mInfo.selectedMeasurements.length }})
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- <div
            class="w-auto border-l h-full border-base-300 transition-all duration-700 hover:absolute hover:shadow-md right-0"
            (mouseover)="metaInfoHovered = true"
            (mouseout)="metaInfoHovered = false"
            [ngClass]="dataTypes.selected ? '' : 'hidden overflow-hidden '"
          >
            <div
              class="flex flex-col bg-zinc-100 h-full transition-all duration-700 p-1"
            >
              <button
                *ngFor="let mInfo of dataTypes.__metaInfo"
                (click)="openMeasurementTree(mInfo.contentCollectionName)"
                class="btn btn-primary my-1 h-auto btn-xs transition-all duration-700"
              >
                <span *ngIf="metaInfoHovered" class="">{{
                  mInfo.browseButtonName
                }}</span>
                <span *ngIf="!metaInfoHovered" class="">SM</span>

                <div
                  *ngIf="
                    mInfo.selectedMeasurements &&
                    mInfo.selectedMeasurements.length == 0
                  "
                  class="badge badge-primary"
                >
                  ({{ mInfo.selectedMeasurements.length + 12 }})
                </div>
              </button>
            </div>
          </div> -->
        </div>

        <!-- <div
              class="col-span-12 lg:col-span-1 h-full p-1 border-b lg:border-l lg:border-t border-base-300 bg-zinc-100"
            >
              <button
                *ngFor="let mInfo of dataTypes.__metaInfo"
                (click)="openMeasurementTree(mInfo.contentCollectionName)"
                class="btn btn-primary h-auto w-full btn-xs"
              >
                {{ mInfo.browseButtonName }}
                <div
                  *ngIf="
                    mInfo.selectedMeasurements &&
                    mInfo.selectedMeasurements.length > 0
                  "
                  class="badge badge-primary"
                >
                  ({{ mInfo.selectedMeasurements.length }})
                </div>
              </button>
            </div> -->
      </div>
    </div>

    <!-- Measurement Tree -->
    <app-tree-component
      [MeasurementPanel]="TreePanel"
      [previousSelections]="previousMeasurementsSelection"
      (closeMeasurementPanelEvent)="
        this.TreePanel = false; this.selectedContentCollection = ''
      "
      (addMeasuremets)="addSelectedMeasurements($event)"
      (removeMeasuremets)="removeSelectedMeasurements($event)"
    ></app-tree-component>
    <!-- Measurement Tree -->
  </div>
</div>

<input #modal type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal w-full h-full" (click)="modal.click()">
  <app-channel-modal
    [SelectedPageName]="SelectedPageName"
    [previousMeasurementsSelection]="previousMeasurementsSelection"
    [(selectedChannels)]="SelectedChannelForDatatype"
    (selectedChannelsChange)="saveChannelSelection($event)"
  ></app-channel-modal>
</div>
